<div ng-controller="ListDetailsCtrl">
  <div ng-controller="TodosCtrl">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>{{list.name}}</h3>
          <ul class="list-unstyled">
            <li ng-repeat="todo in todos">
              <div class="checkbox">
                <label ng-class="{strike: todo.checked}">
                  <input type="checkbox" ng-model="todo.checked" ng-click="markStatus(todo.id, todo.checked)">
                  {{todo.name}}
                </label>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <form>
            <div class="form-group">
              <input ng-model="todoName" class="form-control" placeholder="New Todo..."
            </div>
            <button ng-click="addTodo()" type="submit" class="btn btn-default">Add Todo</button>
          </form>
        </div>
    </div>
  </div>
</div>
